/* this is css */
body{
    background-color: bisque;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.conversion-btn {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: red;
    color: white;
}

.reset-btn {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: rgb(204, 2, 2);
    color: white;
}

.reverse-btn {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: rgb(153, 4, 4);
    color: white;
}